@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Raleway:wght@400;700&display=swap');

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #797676;
}

/* NAVIGATION BAR */
/* Basic styling for the navbar container */
.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 10vw;
  height: 100vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* To evenly space the items */
  z-index: 1000;
}

/* Styling for each navbar item */
.nav-item {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%; /* This is width of navbar */
  height: 15vh; /* Adjust the height as needed */
  cursor:pointer;
  transition: background-color 0.5s;
  border-radius: 20px; /* Add rounded corners to the navbar items */
  overflow: hidden; /* Ensure the rounded corners are applied */
  margin: 5px;
}

/* To Size & Color the icons */
.nav-item i{
  color: #FC7F61;
  font-size: 35px;
}

/* Styling for the item's text */
.nav-text {
  display: none;
  color:antiquewhite; /* Text color */
  margin-top: 5px;
  font-family: 'Raleway', sans-serif, bold;
}

/* Hover effect for navbar items */
.nav-item:hover {
  background-color: #FC7F61; /* Change this to your preferred hover color */
}

/* Show the text when hovering over the item */
.nav-item:hover .nav-text {
  display:inline;
}

.nav-item:hover i{
  color:#481C5C; /* Change this to your preferred hover color of the icon */
}

/* END NAV */

#bg-container {
  background: url(/static/assets/Homepage_BG.png) center center / cover no-repeat;
  position: relative;
  min-height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
}

/* The topmost container */
.top-container{
  width:100vw;
  height: 100vh;
  position: relative;
  left: 25vw;

}
/* It is for the heading */
.hi{
  top: 30vh;
  position: absolute;
  margin: auto;
  font-size: clamp(40px, 7vw, 100px);;
  font-family: 'Oleo Script', cursive;
  color: antiquewhite;
} 

/* Sub heading */
.i_am {
  position: absolute;
  top: 55vh;
  margin: auto;
  font-size: clamp(35px, 4vw, 100px);;
  font-family: 'Oleo Script', cursive;
  color: antiquewhite;
}
