{% include 'header.html' %}
<!--Mobile version-->

<!--Desktop version-->
<div class="navbar-container">
    <div class="nav-item">
        <i class="fas fa-home"></i>
        <span class="nav-text">Home</span>
    </div>
    <div class="nav-item">
        <i class="fas fa-globe"></i>
        <span class="nav-text">Explore</span>
    </div>
    <!-- Add more navbar items as needed -->
</div>

<section id="bg-container">
    <div class="top-container">
        <div class="hi box text">Hi There! I'm Surya</div>
        <div class="i_am">I am a developer</div>
    </div>
</section>
{% include 'footer.html' %}