{% include 'header.html' %}
<!--Navbar-->
<div class="navbar-container">
    <div class="nav-item">
        <i class="fa-solid fa-house"></i></i>
        <span class="nav-text">Home</span>
    </div>
    <div class="nav-item">
        <i class="fa-solid fa-user-tie"></i></i>
        <span class="nav-text">About</span>
    </div>
    <div class="nav-item">
        <i class="fa-solid fa-bars-progress"></i></i>
        <span class="nav-text">Projects</span>
    </div>
    <div class="nav-item">
        <i class="fa-solid fa-message"></i></i>
        <span class="nav-text">Contact</span>
    </div>
    <!-- Add more navbar items as needed -->
</div>

<!--Content-->
<section id="bg-container">
    <div class="top-container">
        <div class="hi box text">Hi There! I'm Surya</div>
        <div class="i_am">I am a developer</div>
    </div>
</section>
{% include 'footer.html' %}